@using BlazorGames.Client.Games.OwlAttack.Models

<div class="oa-game-container" tabindex="0" @onclick="@_gameManager.Start" @onkeydown="HandleKeyDown">
	<div class="oa-sky">
		<Owl Model="_gameManager.OwlModel"/>
		<Player Model="_gameManager.PlayerModel"/>
		<Tree/>
	</div>
	<div class="oa-ground">
	</div>
	<div class="oa-text">
		<text>Score: @_gameManager.PlayerModel.Score.ToString()</text>
		<text>Carry: @_gameManager.PlayerModel.Carry.ToString()</text>
		<text>State: @_gameManager.PlayerModel.State.ToString()</text>
	</div>
	
</div>

@code {
	GameManager _gameManager;

	

	protected override void OnInitialized()
	{
		_gameManager = new();
		_gameManager.FrameUpdated += (_, _) => StateHasChanged();
	}

	void HandleKeyDown(KeyboardEventArgs e)
	{
		if (e.Key == "ArrowLeft")
		{
			_gameManager.PlayerModel.Velocity = Math.Max(-_gameManager.PlayerModel.MaxVelocity, _gameManager.PlayerModel.Velocity -1);
		}
		if (e.Key == "ArrowRight")
		{
			_gameManager.PlayerModel.Velocity = Math.Min(_gameManager.PlayerModel.MaxVelocity, _gameManager.PlayerModel.Velocity +1);
		}
		if (e.Key == "ArrowDown" || e.Key == "ArrowUp" )
		{
			_gameManager.PlayerModel.Velocity = 0;
		}

	}
}
