.oa-game-container {
    background-image: url('../../../images/games/owlAttack/oa_bg3.png');
    width: 600px;
    height: 600px;
    position: absolute;
}

.oa-sky {
    width: 600px;
    height: 500px;
    position: absolute;
}

.oa-ground {
    background-image: url('../../../images/games/owlAttack/oa_fg.png');
    width: 600px;
    height: 120px;
    position: absolute;
    top: 470px;
    z-index: +20;
}

.oa-text {
    width: 600px;
    height: 100px;
    position: absolute;
    top: 550px;
    color: wheat;
    text-shadow: #ffd800 0px 0px 1px;
    z-index: +30;
}
