.oa-game-container {
    background-image: url("../../../wwwroot/images/games/owlAttack/background.png");
    width: 600px;
    height: 600px;
    position: absolute;
}

.oa-sky {
    width: 600px;
    height: 500px;
    background-color: deepskyblue;
    position: absolute;
}

.oa-ground {
    width: 600px;
    height: 100px;
    background-color: forestgreen;
    position: absolute;
    top: 500px;
    z-index: +2;
}
