.oa-owl {
    background-image: url('../../../images/games/owlAttack/oa_owl.png');
    width: 48px;
    height: 48px;
    position: relative;
    z-index: +10;
    animation: play 0.5s steps(4) infinite;
}

.oa-flip {
    transform: scaleX(-1);
}

@keyframes play {
    100% {
        background-position: -192px;
    }
}